* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

header {
    background: #111827;
    color: darkgrey;
    padding: 60px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    color: #cbd5e1;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    margin: 60px auto;
}

.project-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.project-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.content {
    padding: 20px;
}

.content h3 {
    margin-bottom: 10px;
}

.content p {
    font-size: 0.9rem;
    margin-bottom: 15px;
    color: #555;
}

.content a {
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    font-size: 0.85rem;
    transition: 0.3s;
}

.content a:hover {
    background: #1e40af;
}

.future {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #cbd5e1;
    background: #f8fafc;
    color: #94a3b8;
    font-weight: 500;
    font-size: 1rem;
    height: 250px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111827;
    color: #cbd5e1;

}
